<!DOCTYPE html>
<style type="text/css">
     .picked { opacity: 0.4; }
</style>

<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <%= session.inspect %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <body>
<div class="alert alert-block">
    <h1>Guess Who!</h1>
</div>
    <% "rfoo = #{session.inspect}" %>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
<table>
<tr>

  <% 8.times do |val| %>
    <%= "</tr><tr>" if(val==4) %>
      <td class="<%=  session["pick#{val}"] ? 'picked':'notpicked' %>" ><img src = "dl<%=  val  %>.jpg" data-pick="<%= val %>"></td>
  <% end %>
</tr>
</table>

<table>
    <tr>
<td>
  <% val = session["#{user}Rand"]; %>
  <% str = "<img src = \"/dl#{val}.jpg\">" %>
  <%= str %>
</td>
<td>

<pre id='chat'></pre>
<form name="myform">
  <input id='msg' placeholder='type message here...' />
</form>


</td>
</tr>
</table>
<script src="/js/app.js" type="application/javascript"> </script>
  </body>
</html>
